.download-zone, .download-link, .creator-link, .support-link {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}

.creator-link p:first-child::after {
  content: "Apoya al creador del juego";
}

  .download-link p, .download-link span, .creator-link span {
    box-sizing: border-box;
  }



.download-link p, .creator-link p, .support-link p {
  margin-bottom: 0;
  margin-top: 0;
}

  .download-link span, .creator-link span {
    font-size: medium;
  }

.download-zone p {
  margin-top: 0;
}

.download-link, .support-link {
  gap: 0.15em;
}


.creator-link {
  gap: 5px;
}

.download-rectangle, .creator-rectangle, .download-mediafire, .creator-support-patreon, .creator-support-itchio, .support-me  {
  width: 150px;
  height: 50px;
  border: 3px solid #555;
  background: #428bca;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  letter-spacing: 1px;
}

  .creator-rectangle {
    width: 185px;
  }

  .download-rectangle:after {
    content: "descargar";
  }

  .creator-rectangle:after {
    content: "apoya al autor";
  }

  .creator-rectangle:hover, .download-rectangle:hover, .download-mediafire:hover, .creator-support-patreon:hover, .creator-support-itchio:hover, .support-me:hover {
    -webkit-box-shadow: rgba(200,200,200,0.8) 0px 3px 5px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow: rgba(200,200,200,0.8) 0px 3px 5px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow: rgba(200,200,200,0.8) 0px 3px 5px, inset rgba(0,0,0,0.15) 0px -10px 20px;
  }

.password:after {
  content: "Contraseña: noobstranslater"
}

.download-mediafire, .creator-support-patreon, .creator-support-itchio {
  width: 200px;
  height: 64px;
}

.download-mediafire {
  background-image: url("https://lh3.googleusercontent.com/-oLkSj5IY5NI/Y-MUsPiox3I/AAAAAAAAByA/2TjSgchfRe4Kf-To1VHf30T4hfUb-3lOACNcBGAsYHQ/w200-h64/mediafire.png");
}

.creator-support-patreon {
  background-image: url("https://lh3.googleusercontent.com/-NB0mvo1PPdg/Yvgb7cm9pLI/AAAAAAAABdU/7ODs-9fLca0W-Hr9aSh0_ECPF5eXqfafgCNcBGAsYHQ/s1600/Patreon%2Blogo.png");
}

.creator-support-itchio {
  background-image: url("https://lh3.googleusercontent.com/-8zebcngpZg4/Yvgb7cUqySI/AAAAAAAABdY/hLiRaiKLAagCmG-nywZsKl9sXIRYe1FYgCNcBGAsYHQ/s1600/itchio%2Blogo.png");
}

.download-mediafire:after, .creator-support-patreon:after, .creator-support-itchio:after {
  content: "";
}

#support-me-link:after {
  content:"También puedes apoyarme";
}

.support-me:after {
  content: "Click Aquí";
}
