.list {
  box-sizing: border-box;
  list-style-image: initial;
  list-style-position: initial;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-left: 0px;
}

.list li {
  text-align: left;
  list-style: none;
  margin-bottom: 0px;
}

.list strong {
  color: crimson;
  margin-bottom: 0px;
}

.content {
  text-align: center;
  display: block;
}

.main {
  background-color: black;
  box-sizing: border-box;
  color: #d8d8d8;
  font-family: Chewy, Roboto, sans-serif;
  font-size: 16px;
}

.subtitle {
  box-sizing: border-box;
  font-family: inherit;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  margin: 0px 0px 1.5rem;
  color: lightcyan;
}

#information-list strong::after {
  content: "\ \ ";
}

.uppercase {
  text-transform: uppercase;
}

.none-decoration {
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.abandoned-game, .onhold-game {
  /*width: 80px;
  height: 80px;
  background-image: url("https://lh3.googleusercontent.com/-xZPahsOyvRI/ZO5RoGP2YgI/AAAAAAAAB_Y/XqgEcCMBF4ITYlhNzNAqGQNXZIAAIgrrACNcBGAsYHQ/s1600/abandonado.png");*/
  width: 40px;
  height: 40px;
  background-image: url("https://lh3.googleusercontent.com/-fW10LOKkY3E/ZO5TEB5J1-I/AAAAAAAAB_g/mA9lq3heN1kkFQTyLlVl4mSWsCG_V4i4wCNcBGAsYHQ/s1600/abandoned.png");
  position: absolute;
  top: 0;
  right: 0;
}
.onhold-game {
  /*background-image: url("https://lh3.googleusercontent.com/-1y7Sy95TOoQ/ZO5RoOlWT4I/AAAAAAAAB_U/bEw1MO1wh3wHFwCEiNp_CEfA_3j_2gdtwCNcBGAsYHQ/s1600/espera.png");*/
  background-image: url("https://lh3.googleusercontent.com/-JNHdOWHEi3c/ZO5TEO5xzYI/AAAAAAAAB_k/5k4OJqvJl64f3aLwvLBWKKq-qz4c1WzSACNcBGAsYHQ/s1600/onhold.png");
}
